body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

header {
    background-color: #371fec;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.copyright {
    text-align: center; /* Centrer le texte de copyright */
    margin-top: 20px; /* Espacement au-dessus du texte */
    font-size: 13px; /* Taille de la police */
    font-weight: bold;
    color: #081a77; /* Couleur du texte */
}
.logo-container {
    background-color: white; /* Couleur de fond blanche */
    padding: 10px; /* Optionnel : Ajouter un peu d'espace autour de l'image */
    display: flex; /* Optionnel : Centrer l'image horizontalement */
    justify-content: center; /* Optionnel : Centrer l'image horizontalement */
    align-items: center; /* Optionnel : Centrer l'image verticalement */

}

.logo-image {
    max-width: 30%; /* S'assurer que l'image s'adapte à la taille de la div */
    height: auto; /* Conserver les proportions de l'image */
}

/* Style pour supprimer les décorations de lien */
.logout-link {
    text-decoration: none; /* Retire le soulignement des liens */
    color: inherit; /* Garde la couleur du texte actuelle */
}
.logout img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    filter: brightness(0) invert(1);
}
.logout {
    display: flex;
    align-items: center;
    gap: 5px; /* Réduit l'espacement entre l'icône et le texte */
    font-size: 16px; /* Ajustez la taille du texte si nécessaire */
    font-weight: bold;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center; /* Centre horizontalement le contenu */
    
}



table {
    width: 80%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #090909;
}

th {
    background-color: #3232f7;
    font-size: 17px;
}

.btn-blue {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-blue:hover {
    background-color: #0056b3;
}
